{{ define "main" }}

<div class="work-container">
    <div class="work-gallery">
        {{ range sort .Data.Pages ".Params.order" }}
            <a class="work" href="{{ .Permalink }}">
                <img class="work-image" src="{{ .Params.image }}">
                <div class="work-text">
                        <div class="work-text-description">{{ .Summary }}</div>
                        <span class="work-text-headline">{{ .Title }}</span>
                </div>
            </a>
        {{ end }}
    </div>
</div>

{{ end }}

