body {
    background-color: var(--background-color);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--text-color);
    margin: 0;
    font-size: 1rem;
}





