body {
    background-color: var(--blue);
    font-family: Tuna-Medium, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--white);
    margin: 0;
    font-size: 1rem;
}





