.work-container {
    margin: 0 3%;
}

.work-gallery {
    margin: 0 -1.5vw calc( -1 * ( 1.5vw + 1.5em + 5px ) ) -1.5vw;
}

.work {
   z-index: auto;
   width: calc( 100% / 3 - 2 * 1.5vw );
   margin: 0 1.5vw calc( 1.5vw + 3rem ) 1.5vw;
   position: relative;

   text-decoration: inherit;
   color: inherit;

   @media (max-width: 800px) {
      width: calc( 100% / 2 - 2 * 1.5vw );
   }

   @media (max-width: 500px) {
      width: 100%;
   }
}

.work-image {
   width: 85%;
   background-color: var(--image-background-color);
   height: auto;
   padding: 2rem;
   box-sizing: border-box;
}

.work-image--absolute {
   position: absolute;
   z-index: 200;
   top: 3rem;
   left: 0;
}

.work-text {    
    z-index: 100;
    width: 85%;
    box-sizing: border-box;
    background-color: var(--detail-background-color);
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100%;

    &:hover {
        z-index: 300;
    }
}

.work-text-description {
    opacity: 0;
    transition: opacity 0.5s linear;
    font-size: 0.8rem;

    @nest .work-text:hover & {
        opacity: 1;
    }
}

.work-text-headline {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}